<!DOCTYPE html>
<html lang="en">
<head>
	<title>Complain Registration Login</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/util.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">


<!-- Google Fonts -->
<link href="https://fonts.googleapis.com/css?family=Fondamento&display=swap" rel="stylesheet">
</head>
<body>



		<div class="limiter">
			<div class="container-login100">
				<div class="wrap-login100 p-l-85 p-r-85 p-t-55 p-b-55">
					<form class="login100-form validate-form flex-sb flex-w" method="POST">

						{% for mess in get_flashed_messages() %}
				      <div class="alert alert-primary" role="alert">
				        {{ mess }}
				      </div>
				    {% endfor %}

						{{ form.hidden_tag() }}

		    		<img id="logo1" src="{{ url_for('static', filename='images/SATI-Logo.jpeg') }}" alt="">
						<span style="text-align: center; font-size:26px" class="login100-form-title p-b-32">
							<br>
							Complaint Registration System
						</span>



					<span class="txt1 p-b-11">
						{{ form.email.label }}
					</span>
					<div class="wrap-input100 validate-input m-b-12" data-validate = "Username is required">

						{{ form.email(class='input100') }}
						<span class="focus-input100"></span>
					</div>

					<span class="txt1 p-b-11">
						{{ form.password.label }}
					</span>
					<div class="wrap-input100 validate-input m-b-12" data-validate = "Password is required">
						<span class="btn-show-pass">
							<i class="fa fa-eye"></i>
						</span>
						{{ form.password(class='input100') }}
						<span class="focus-input100"></span>
					</div>

					<span class="txt1 p-b-11">
						{{ form.design.label }}
					</span>
					<div class="wrap-input100 validate-input m-b-12" data-validate = "Number is required">

						{{ form.design(class='input100') }}

						<span class="focus-input100"></span>
					</div>



					<div>
						<a href="{{ url_for('forgot') }}" class="txt3">
							Forgot Password?
						</a>
					</div>
			<br><br>


					<div class="container-login100-form-btn">
						{{ form.submit(class='login100-form-btn', id='login_btn') }}

					</div>
					<br><br>

	</form>
           <br>
					<p style="text-align:center"> Don't have an account? <a href="{{ url_for('index')}}">  Sign Up</a></p>
			</div>
		</div>
	</div>

</body>
</html>
